
:root {
  --header-background-color: #ffffff;
  --color-main: rgba(41, 51, 78, 1);
  --color-button: rgb(255, 255, 255);
  --color-button-name: rgb(185, 185, 185);
  --button-hover: rgb(104, 255, 183);
  --color-cards: #818899;
  --color-cards-center: linear-gradient(180deg, rgba(75 255 169), rgba(0, 133, 255, 0));
  --color-area-cards: linear-gradient(180deg, rgba(255, 255, 255, 0.30), rgba(101, 255, 228, 1));
  --color-area-cards-animation1: linear-gradient(180deg, rgba(255, 0, 0, 0), rgba(101, 255, 228, 1));
  --color-area-cards-animation2: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(255, 70, 70));
  --color-area-cards-border: rgb(87 123 136);
  --color-background-footer: #ffffff;
  --color-area-battle-cards: linear-gradient(180deg, rgba(41, 51, 78, 0), rgba(104, 255, 183, 0.83));
  --color-cards-border: linear-gradient(180deg, rgba(89, 112, 130, 1), rgba(67, 100, 114, 0.49));
}

body {
  box-sizing: border-box;
  margin: 0;
  color: white;
  background-color: rgba(41, 51, 78, 1);
}

.header {
  color: rgb(170, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-background-color);
  box-shadow: 0px 4px 17px #56c499;
  animation-name: example;
  height:52px;
}



main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--color-main);
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
}

.areaBattle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.battleCards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartaJogador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartaJogador h1 {
  margin: 0;
}

.btnEPontos {
  width: 150px;
  min-height: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placar {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 80%;
  height: 95px;
}

#vencedor {
  width: 100%;
  height: auto;
  display: none;
  background-color: rgb(0, 255, 136);
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
}

.pontos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 0px;
  margin-bottom: 10px;
  text
}

.placarPontos {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

#ponto-jogador1 {
  border-radius: 10px 10px 10px 10px;
}

#ponto-jogador2 {
  border-radius: 10px 10px 10px 10px;
  
}


#startButton, #attackButton, #btnZero {
  width: 100px;
  height: 50px;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 17px;
  background-color: var(--color-button);
  color: var(--color-button-name);
  border-radius: 10px;
  border: 0px;
  box-shadow: 0px 5px rgba(0, 255, 234, 0.3);
  transition: all .3s ease-out ;
}

.battleCards {
  width: 108px;
  height: 138px;
  background-image: var(--color-area-battle-cards);
  border-radius: 10px;
}

.secaoCartas {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: center;
  transition: all .3s ease-out;
}

.area-card1, .area-card2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: var(--color-area-cards);
  width: 130px;
  height: 375px;
  align-items: center;
  animation-name: ad;
  animation-duration: 1.30s; 
  animation-iteration-count: infinite;
}

.oneCard {
  display: none;
}

.area-card1 {
  border-radius: 0px 50px 50px 0px;
  border: 3px solid var(--color-area-cards-border);
  border-left: 0px;
}

.area-card2 {
  border-radius: 50px 0px 0px 50px;
  border: 3px solid var(--color-area-cards-border);
  border-right: 0px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 115px;
  margin: 4px;
  border-radius: 10px;
  background-image: var(--color-cards-border);
}

.cartas {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 75px;
  height: 105px;
  align-content: center;
  font-size: 14px;
  border-radius: 10px;
  background-image: var(--color-cards-center);
}

.cartasMos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 92px;
  height: 122px;
  align-content: center;
  font-size: 17px;
  border-radius: 10px;
  background-image: var(--color-cards-center);
}

.labelCards {
  width: 102px; 
  height: 132px;
}

footer {
  display: inline-block;
  color: rgb(170, 170, 170);
  width: 100%;
  flex-grow: 1;
  margin-bottom: 0px;
  text-align: center;
  background-color: var(--color-background-footer);
  
}


#startButton:hover, #attackButton:hover, #btnZero:hover {
  background-color: var(--button-hover);
  color: rgb(0, 0, 0);
}

@keyframes example {
  from  {background-image: var(--color-area-cards-animation1);}
  to  {background-image: var(--color-area-cards-animation2);}
}

@media (min-width: 480px) {
  .cartas {
    width: 108px;
    height: 138px;
    font-size: 20px;
}

label {
  width: 123px;
    height: 153px;
    margin: 4px;
}

.battleCards {
  width: 153px;
  height: 183px;
  background-color: var(--color-area-battle-cards);
  border-radius: 10px;
  transition: all .3s ease-out;
}

.cartasMos {
  width: 127px;
  height: 157px;
  font-size: 23px;
}

.labelCards {
  width: 143px;
  height: 173px;
  transition: all .3s ease-out;
}

.secaoCartas {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: center;

}

.area-card1 {
  border-radius: 0px 50px 50px 0px;
  border: 6px solid var(--color-area-cards-border);
  border-left: 0px;
}

.area-card2 {
  border-radius: 50px 0px 0px 50px;
  border: 6px solid var(--color-area-cards-border);
  border-right: 0px;
}

#startButton, #attackButton, #btnZero {
  width: 120px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.area-card1, .area-card2 {
  width: 157px;
  height: 531px;
  align-items: center;
}
}

@media (min-width: 768px) {
  .battleCards {
    width: 208px;
    height: 238px;
    background-color: var(--color-area-battle-cards);
    border-radius: 10px;
  }

  .labelCards {
    width: 193px;
    height: 223px;
  }

  .cartasMos {
    width: 176px;
    height: 206px;
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .area-card1, .area-card2 {
    justify-content: space-evenly;
    flex-direction: row;
    width: 30em;
    height: 170px;
  }
}
